<div class="card">
    <div class="card-body">
        <table class="table table-hover" id="orderTable">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.OrderNumber</td>
                        <td>@item.CreatedDate</td>
                        <td>
                            <a class="btn btn-primary">Order Details</a>
                            <a class="btn btn-warning">Ship Detail </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>