@model ECommerce.Model.Entities.Shipper
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<section class="content">
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header bg-dark mb-3">
                        <h3 class="card-title">Update @Model.CompanyName</h3>
                    </div>

                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>New Company Name</label>
                                <input type="text" class="form-control" asp-for="@Model.CompanyName" placeholder="Enter New Company Name">
                            </div>

                            <div class="form-group">
                                <label>Aktif </label>
                                <input type="checkbox" class="checkbox" asp-for="@Model.IsActive">
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">Update</button>
                        </div>
                    </form>

                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</section>
