@model CreditCartViewModel
@{
    ViewData["Title"] = "CompleteCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--

Ad
Soyad
KrediKart No
Geçerlilik Tarihi
Güvenlik numarası

-->

<div class="mx-auto">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Kredi Kartı Bilgileriniz</h2>
            </div>
            <div class="card-body">
                <div>
                    <label asp-for="Firstname"></label>
                    <input type="text" class="form-control" asp-for="Firstname" />
                </div>
                <div>
                    <label asp-for="Lastname"></label>
                    <input type="text" class="form-control" asp-for="Lastname" />
                </div>
                <div>
                    <label asp-for="CreditCartNumber"></label>
                    <input type="text" class="form-control" asp-for="CreditCartNumber" />
                </div>

                <div>
                    <label asp-for="EndDate"></label>
                    <input type="date" class="form-control" asp-for="EndDate" />
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>

